<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/movie" method="post">
      <input type="text" name="keywords" placeholder="Input Something" autofocus>
      <input type="submit" value="Go" />
    </form>
  </body>
</html>
